a{
    color: #2B6447;
}

a:hover{
    color: #2B6447;
}

body {
    background-color: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#content{
    margin-top: 12px;
}

#cambio-estado{
    color: #2B6447;
    cursor: pointer;
}

.conf-header a:hover{
    color:#2B6447;
    text-decoration: underline;
}

#borrar_item{
    margin: 0px;
}

#dropdow-menu-principal{
    background-color: #33691e;
}

#dropdow-menu-principal .dropdown-item{
    color: #fff!important;
}

#dropdown-menu-principal .dropdown-item:focus, .dropdown-item:hover{
    background-color: #6c9a06;
}

#label-sap{
    margin: 0px;
}

#one_column{
    width: 100%;
}

#opciones_usuario{
    display: none;
}

#paginacion{
    margin-top: 10px;
}

#sap-switch{
    margin: 0px;
}

#title-etapa{
    margin: 0px;
}

.actual-cambio-estado{
    margin: 0px;
    display: contents;
    font-size: 12px;
    font-weight: bold;
}

.fa-times{
    cursor: pointer;
    padding: 0.25rem;
}

.breadcrumb{
    padding: 0;
    font-size: .75rem;
    margin: 5px 0;
    background-color: #ffffff;
}

.btn-primary{
    background-color: #2E6347;
    border-color: #2E6347;
}

.btn-primary:disabled{
    cursor: auto;
    background-color: #2E6347;
    border-color: #2E6347;
}

.btn-primary:hover{
    background-color: #6c9a06;
    border-color: #6c9a06;
}

.card{
    margin-bottom: 10px;
}

.card-header{
    padding: 10px;
}

.checkbox_table{
    margin: 5px;
}

.container-fluid{
    padding: 0px;
}

.conf-header{
    padding: 0px;
}

.detalles{
    display: none;
}

.fa.status{
    font-size: 22px;
}

.fa-times{
    margin: 0px;
}

.fa-trash-alt{
    color: #ff0000;
}

.form-check-input{
    cursor: pointer;
}

.form-check-label{
    cursor: pointer;
    width: 100%;
}

.info-header{
    padding: 5px 0;
    font-size: 12px;
    margin: 0px;
}

.info-body{
    padding: 5px 0;
}

.lateral-column{
    padding: 0px;
    background-color: #eee;
}

.list-group-item{
    padding: .45rem 0rem;
    border: 0px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.links{
    cursor: pointer;
    margin: 0px;
    color: #2B6447;
}

.links:hover{
    color: #2B6447;
    text-decoration: underline;
}

.lateral-inprogress{
    border-left: 5px solid #c6c4c8;
}

.lateral-done{
    border-left: 5px solid #28a745;
}

.lateral-cancel{
    border-left: 5px solid #dc3545;
}

.lateral-nav-link:hover{
    color: #2B6447;
    background-color: rgba(0,0,0,0.1);
}

.lateral-nav-item{
    margin-bottom: 1px;
}

.lateral-nav-item .nav-link{
    color: #0A3319;
}

.modal-body{
    padding: 0px;
}

.modal-radio-input{
    position: unset;
    margin-top: 0px;
    margin-left: 0px;
}

.nav-pills .nav-link {
    border-radius: 0rem;
}

.navbar{
    background-color: #33691e;
    padding: 0rem 1rem;
}

.nav-item{
    list-style: none;
}

.form-group .nav-link:hover{
    text-decoration: underline;
}

.nav .nav-item:hover{
    background-color: #eee;
    text-decoration: none;
}

.nav-item:hover{
    background-color: #6c9a06;
}

.navbar .nav-link{
    cursor: pointer;
    color: #fff!important;
}

.page-link{
    color: #2B6447;
}

.page-item.active .page-link{
    background-color: #6c9a06;
    border-color: #6c9a06;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.status{
    position: absolute;
    transform: translate(82%, 0);
    top: 0px;
    display: block;
    width: 35%;
    text-align: center;
    z-index: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 0px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.table-center {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.table{
    text-align: center;
    margin-bottom: 0px;
}

.table-style {
    background-color: #33691e;
    color: white;
}

.table thead th {
    vertical-align: baseline;
}

.titulo-header{
    margin: 0px;
}

.tipo_transaccion{
    margin: 0px;
    padding: 0.55rem;
}

.tipo_transaccion_item{
    margin: 0.25rem 0;
}

.tipo_transaccion_badge{
    padding: 0.25rem;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 

@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 1000px;
    }
}
