body {
    background-color: #ffffff;
}

.clickable { 
    cursor: pointer;
}

.card-padding {
    padding: 10px;
}

.list {
    margin: 5px 0px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}